title = "Bounty Campaign"
url = "/bounty-campaign/:id?/:slug?"
layout = "platform"
description = "Bounty campaign page"
is_hidden = 0

[session]
security = "user"
redirect = "login"

[Bounties]
[UsersCampaign]
==
<main class="content">
    <div class="content__inner">
        <div class="content__left">

            {% partial UsersCampaign ~ '::bounty-bar' %}

            <div class="profile">

                {% partial UsersCampaign ~ '::bounty-profile' %}

                <div class="profile__content">

                    {% if access == 0 %}
                        <div class="alert  alert--orange">
                            <p>
                                <strong>To verify your registration you need to approve your bitcointalk account</strong>
                                <br>
                                <strong>You need to post this message to our bitcointalk bounty announcement</strong>
                                <br>
                                <strong><a href="">LINK</a></strong>
                                <br>Message:
                                <br>
                                <strong>I'am registered to CryptoPolice bounty campaign - {% for campaign in campaignReports %} {{ campaign.campaign_title }} {% endfor %} campaign <br>
                                    My unique registration code is - ###{{btc_code}}###</strong>
                            </p>
                            <button class="alert__button" type="button"><i class="fa fa-close"></i></button>
                        </div>
                    {% endif %}

                    {% partial UsersCampaign ~ '::main-menu' %}

                    {% component 'Bounties' %}

                </div>
            </div>
        </div>
    </div>
</main>