title = "Bounty Campaign"
url = "/bounty-campaign/:id?/:slug?"
layout = "platform"
description = "Bounty campaign page"
is_hidden = 0

[session]
security = "user"
redirect = "login"

[Bounties]
[UsersCampaign]
==
<main class="content">
    <div class="bounty_content__inner">
        <div class="content__left">

            {% partial UsersCampaign ~ '::bounty-bar' %}

            <div class="profile">

                {% partial UsersCampaign ~ '::bounty-profile' %}

                <div class="bounty__content">

                    <!-- Verification bounty campaign message -->
                    {% if access is defined and access is not null %}
                        {% if not access %}
                            {% if not btc_status %}
                                <div class="alert alert--orange">
                                    <h2>To verify your registration please approve your Bitcointalk account</h2>
                                    <br>
                                    <span class="mark  mark--red"><strong>Post this message to our Bitcointalk bounty announcement </strong></span>
                                    <a href="{{ btc_ulr }}" target="_blank">LINK</a> <br><br>
                                    <span class="mark  mark--red"><strong>Only 1 registration code per post</strong></span>
                                    <h2>Message:</h2>
                                    <h4> I registered to CryptoPolice {{bounty.title}} campaign <br> My registration code is {{btc_code}}</h4>
                                    <button class="alert__button" type="button"><i class="fa fa-close"></i></button>
                                </div>
                            {% else %}
                                <div class="alert alert--orange">
                                    You have been verified on BitcoinTalk
                                    <h4>You need to wait until we accept you registration, to participate in {{bounty.title}} campaign</h4>
                                    <button class="alert__button" type="button"><i class="fa fa-close"></i></button>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% partial UsersCampaign ~ '::main-menu' %}

                    {% component 'Bounties' %}

                </div>
            </div>
        </div>
    </div>
</main>