title = "Community"
url = "/"
layout = "platform"
description = "Comunity page"
is_hidden = 0

[session]
security = "user"
redirect = "login"

[CommunityPosts]
[CommunityUsers]
[UserProfile]
[imageUploader]

placeholderText = "Click or drag images to upload"
maxSize = 1
fileTypes = ".gif,.jpg,.jpeg,.png"
imageWidth = 100
imageHeight = 100
imageMode = "crop"
modelClass = "CryptoPolice\Platform\Models\CommunityPost"
modelKeyColumn = "post_image"
identifierValue = "{{ :id }}"
deferredBinding = 1
==
<?php

    use CryptoPolice\Platform\Models\CommunityPost;

    function onInit() {
        $this->imageUploader->bindModel('post_image', new CommunityPost);
    }
    
?>
==
<main class="content">
    <div class="content__inner">
        <div class="content__left">
            <div class="profile">

                <!-- User profile section -->
                {% partial UserProfile ~ '::profile' %}

                <div class="profile__content">
                    <div class="grid__row">
                        <div class="post_content">
                            <div id="posts_list">

                                {% if page_num is defined and page_num %}

                                    <!-- Post filters -->
                                    {# {% partial 'CommunityPosts::post-filters' %} #}

                                    <!-- Post add form -->
                                    {% partial 'CommunityPosts::post-add-form' %}

                                {% endif %}

                                <!-- Posts section -->
                                {% partial 'CommunityPosts::post-list' %}

                                <!-- Load more form -->
                                {% partial 'CommunityPosts::post-load-form' %}

                            </div>
                        </div>
                    </div>

                    <!-- User sidebar section -->
                    {% partial 'CommunityUsers::user-list-sidebar' %}

                </div>
            </div>
        </div><!-- /.content__left -->
    </div>
</main>

<!--Hack with flash notification, remove text rendering before flash message -->
{% if active is empty %}
    <div class="empty_flash">
        {% flash %}
            <p data-control="flash-message" class="flash-message fade {{ type }}" data-interval="5"> {{ message }} </p>
        {% endflash %}
    </div>
{% endif %}