title = "Post details"
url = "/post/:id/:slug?"
layout = "platform"
description = "Post details Page"
is_hidden = 0

[UserProfile]

[CommunityUsers]

[CommunityPostDetails]

[CommunityPostComments]
==
<!-- Content -->
<main class="content">
    <div class="content__inner">
        <div class="content__left">
            <div class="profile">

                <!-- User profile section -->
                {% partial UserProfile ~ '::profile' %}

                <div class="profile__content">

                    <!-- Post description -->
                    {% partial CommunityPostDetails ~ '::post-details' %}

                    <!-- Add comment form -->
                    {% if user %}
                        {% partial CommunityPostComments ~ '::comment-add-form' %}
                    {% endif %}

                    <!-- Comment list -->
                    {% for comment in comments %}

                    <div style="margin-top:10px;" class="card post_item">
                        <div style="width: 100%;" class="choose__post">
                            <div class="post_img">
                                <img src="{{comment.user_image}}" width="55" height="55" alt="">
                            </div>
                            <div class="card__header">
                                <div class="card__date">
                                    <strong>
                                        {% if comment.nickname %} {{ comment.nickname }} {% else %} {{
                                        comment.email|slice(0, 3)}}*****@****.com {% endif %}
                                    </strong>
                                    {{ comment.created_at }} <a id="{{comment.id}}" href="#">Reply</a>
                                </div>
                            </div>
                            <div style="height: auto" class="card__content">
                                {{ comment.description }}
                            </div>
                            <div class="card__footer">
                                <div style="margin-left:7.5%; width: 100%" class="card__footer-left">
                                    {% if comment.childs %}
                                    <!-- Comment Replies -->
                                    {% partial CommunityPostComments ~ '::comment-list' childs=comment.childs %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                    <!-- User list sidebar section -->
                    {% partial 'CommunityUsers::user-list-sidebar' %}
                </div>
            </div>
        </div>
    </div>
</main>

<!--Hack with flash notification, remove text rendering before flash message -->
{% if active is empty %}
<div class="empty_flash">
    {% flash %}
    <p data-control="flash-message" class="flash-message fade {{ type }}" data-interval="5"> {{ message }} </p>
    {% endflash %}
</div>
{% endif %}