title = "Profile"
url = "/profile"
layout = "platform"
is_hidden = 0

[ProfileForm]

[customUploader]
==
<!-- Content -->
<main class="content">
    <div class="content__inner">

        <div class="content__left">

            <div class="breadcrumbs">
                <a class="breadcrumbs__item" href="#">Home</a>
                <span class="breadcrumbs__item  active">My profile</span>
            </div>

            <div class="profile">
                <div class="profile__sidebar">

                    {% if user.avatar.path %}
                        <img class="profile__ava" src="{{user.avatar.path}}" width="79" height="79" title="Avatar"
                         alt="Avatar">
                    {% else %}
                        <img class="profile__ava" src="{{'assets/images/user.svg'|theme}}" width="79" height="79"
                         title="Avatar" alt="Avatar">
                    {% endif %}



                    <div class="profile__name">{% if not user.name %}{{ user.email }}{% else %} {{ user.name }}  {{ user.surname }}{% endif %}</div>
                    <div class="profile__block">
                        <p>Name: <b>{{ user.name }}</b></p>
                        <p>Surname: <b>{{ user.surname }}</b></p>
                        <p>E-mail: <b>{{ user.email }}</b></p>
                    </div>

                    <div class="profile__block">
                        <p>Joined: <b>{{ user.created_at }}</b></p>
                        <p>Last seen: <b>{{ user.last_seen }}</b></p>
                    </div>

                </div>

                {% component 'ProfileForm' %}

                <div class="content__sidebar">
                    <div class="profile__card">
                        <h3 class="content__title">
                            Change Avatar
                        </h3>
                        {% component 'customUploader' %}
                    </div>

                </div>

            </div>
        </div>
    </div>
</main>