.warning select {
    border-color: #f6bb42;
    background: #fff url(../images/warning-ico.png) no-repeat right 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none !important;
}
.post_uploader {
    float: left;
    margin: 25px 25px 0px 10px;
}
.header__public {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    color: #fff;
    font-size: 12px;
}

.pub_left {
    border-right: 1px solid #fff;
    line-height: 23px;
}

.profile_form {
    margin-top: 20px;
}

.btn_report {
    margin-top: 20px
}

.stat_block {
    float: left;
    margin-right: 20px;
}

.second_stat_block {
    margin-left: 250px
}

.bounty_title {
    text-align: center;
    margin-bottom: -10px;
}

.bounty_link_title {
    color: black;
}

.empty_flash {
    display: none;
}

.report_header {
    margin-bottom: 0px;
}

.report_title {
    margin: 15px 0px 5px 0px;
}

.report_content {
    height: auto;
}

.report_message {
    margin-top: 15px;
}

#comment_form {
    margin-bottom: 20px;
    margin-top: 20px;
}

.comment_reply {
    margin-left: 7.5%;
    width: 100%;
}

.user_photo img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 1;
}

.user_info {
    color: #666;
    font-weight: bold;
}

.choose__post {
    width: 100%;
}

.choose__post h4 {
    text-align: center;
}

.choose__post_item {
    width: 30%;
    padding: 25px;
    max-width: 370px;
    margin-bottom: 25px;
    border-radius: 15px;
    text-align: center;
}

.choose_img {
    float: left;
    margin-right: 20px
}


.post_title {
    width: 60%;
}

.post_content {
    width: 100%;
}

.post_form {
    margin-bottom: 15px;
}

.post_item {
    height: auto;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post_link:hover {
    text-decoration: none;
}


.btn-search {
    width: 35px;
    height: 35px;
    background-color: #272f37;
    border: 1px solid #272f37;
    position: relative;
    top: -36px;
    right: 14.5px;
}

.post_load {
    display: block;
    margin: 0 auto;
    width: 25%;
    border-radius: 40px;
    padding: 10px 20px;
}

@media (max-width: 1520px) {

    .post_item {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .post_title {
        width:100%;
    }

    .post_uploader {
        float:none;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 25%;
    }
    .choose__post_item {
        width: 100%;
        max-width: 100%;
    }

    .choose_img {
        margin-right: 0;
        text-align: center;
        float: none;
    }

    .card__title {
        width:100%;
        padding-right: 0px;
    }

    .card__date {
        text-align: center;
    }

    .card__content {
        width: 100%;
    }
}

.user_right_sidebar {
    right: -10px;
    top: 0px;
}

.notify_block {
    display: none;
}

.CodeMirror {
    height: 100px;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 100px;
}

.tool {
    cursor: help;
    position: relative;
}

.tool::before,
.tool::after {
    position: absolute;
    left: 50%;
    opacity: 0;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    z-index: 100;
    transform: scale(1) translateY(0);
}

.tool:hover::before,
.tool:focus::before {
    transition-delay: .2s;
}

.tool::after {
    background: linear-gradient(to bottom, #b56aa2 50%, #a04a89 50%, #a04a89);;
    border-radius: .25em;
    padding: 1px 10px 1px 10px;
    bottom: 150%;
    color: #edeff0;
    margin-left: -150%;
    content: attr(data-tip);
    transform: scale(.6) translateY(50%);
    transition: all .25s cubic-bezier(.84, -.18, .31, 1.26) .2s;
}

.tool:hover::after,
.tool:focus::after {
    transition-delay: 0s;
}

.maintenance {
    text-align: center;
}
.tabs__item .profile__card {
    float:none;
}
