.warning select {
    border-color: #f6bb42;
    background: #fff url(../images/warning-ico.png) no-repeat right 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none !important;
}
.post_uploader {
    float: left;
    display: flex;
    justify-content: center;
    margin: 15px 15px 10px 5px;
}
.header__public {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    color: #fff;
    font-size: 12px;
}

.pub_left {
    border-right: 1px solid #fff;
    line-height: 23px;
}

.profile {
    width: 100%;
}

.profile_form {
    margin-top: 20px;
}

.btn_report {
    margin-top: 20px
}

.stat_block {
    float: left;
    margin-right: 20px;
}

.second_stat_block {
    margin-left: 250px
}

.bounty_title {
    text-align: center;
    margin-bottom: -10px;
}

.bounty_link_title {
    color: black;
}

.empty_flash {
    display: none;
}

.report_header {
    margin-bottom: 0px;
}

.report_title {
    margin: 15px 0px 5px 0px;
}

.report_content {
    height: auto;
}

.report_message {
    margin-top: 15px;
}

#comment_form {
    margin-bottom: 20px;
    margin-top: 20px;
}

.comment_reply {
    margin-left: 7.5%;
    width: 100%;
}

.user_photo img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 1;
}

.user_info {
    color: #666;
    font-weight: bold;
}

.choose__post {
    width: 100%;
}

.choose__post h4 {
    text-align: center;
}

.choose__post_item {
    width: 30%;
    padding: 25px;
    max-width: 370px;
    margin-bottom: 25px;
    border-radius: 15px;
    text-align: center;
}

.choose_img {
    float: left;
    margin-right: 20px
}


.post_title {
    width: 50%;
}

.post_form {
    margin-bottom: 15px;
}

.post_item {
    height: auto;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post_link:hover {
    text-decoration: none;
}


.btn-search {
    width: 35px;
    height: 35px;
    background-color: #272f37;
    border: 1px solid #272f37;
    position: relative;
    top: -36px;
    right: 14.5px;
}

.btc_load {
    display: block;
    margin: 0 auto;
    width: 25%;
    border-radius: 40px;
    padding: 10px 20px;
}

.airdrop_login {
    min-width: 100px;
    text-align:center;
    display: inline-block;
    margin: 0 auto;
    width: 25%;
    border-radius: 40px;
    padding: 10px 20px;
}

.airdrop-block {
    text-align: center;
}

@media (max-width: 767px) {

    .post_item {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .post_title {
        width:100%;
    }

    .post_uploader {
        float:none;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .choose__post_item {
        width: 100%;
        max-width: 100%;
    }

    .choose_img {
        margin-right: 0;
        text-align: center;
        float: none;
    }

    .card__title {
        width:100%;
        padding-right: 0px;
    }

    .card__date {
        text-align: center;
    }

    .card__content {
        width: 100%;
    }
}

.notify_block {
    display: none;
}

.CodeMirror {
    height: 100px;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 100px;
}

.tool {
    cursor: help;
    position: relative;
}

.tool::before,
.tool::after {
    position: absolute;
    left: 50%;
    opacity: 0;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    z-index: 100;
    transform: scale(1) translateY(0);
}

.tool:hover::before,
.tool:focus::before {
    transition-delay: .2s;
}

.tool::after {
    background: linear-gradient(to bottom, #b56aa2 50%, #a04a89 50%, #a04a89);;
    border-radius: .25em;
    padding: 1px 10px 1px 10px;
    bottom: 150%;
    color: #edeff0;
    margin-left: -150%;
    content: attr(data-tip);
    transform: scale(.6) translateY(50%);
    transition: all .25s cubic-bezier(.84, -.18, .31, 1.26) .2s;
}

.tool:hover::after,
.tool:focus::after {
    transition-delay: 0s;
}

.maintenance {
    text-align: center;
}

.tabs__item .post__card {
    float: none;
}

.grecaptcha-badge {
    z-index: 101;
}

.scam__pagination{
    text-align: center;
}

.private__title {
    margin: 0 0 0px;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}

.sidebar__bounty {
    top: 40px;
    height: auto;
    position: absolute;
    z-index: 99;
    width: 210px;
}
@media (max-width: 1120px) {
    .sidebar__bounty {
        position: fixed;
    }
}
@media (max-width: 1320px) {

    .sidebar__bounty {

        -ms-transform: translateX(+280px);
        transform: translateX(+280px);
        transition: transform .2s linear;
    }

    .sidebar__bounty.open {
        width: 230px;
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.user_right_sidebar {
    overflow: auto;
    top: 100px;
    right: 10px;
    position: fixed;
    width: 200px;
    height: 100%;
    z-index: 99;
}

@media (max-width: 1120px) {
    .user_right_sidebar {
        -ms-transform: translateX(+280px);
        transform: translateX(+280px);
        transition: transform .2s linear;
    }

    .user_right_sidebar.open {
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Post sidebar */

.post__sidebar {
    width: 20%;
    float: left;
    padding: 13px 18px;
    background: #fff url("../images/profile-sidebar-bg.png") no-repeat right top;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.bounty__sidebar {
    width: 20%;
    float: left;
    padding: 13px 18px;
    background: #fff url("../images/profile-sidebar-bg.png") no-repeat right top;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1720px) {
    .post__sidebar {
        width: 20%;
    }
    .bounty__sidebar {
        width: 20%;
    }
}

@media (max-width: 1520px) {
    .post__sidebar {
        width: 20%;
    }
    .bounty__sidebar{
        width: 25%;
    }
}

@media (max-width: 1320px) {
    .post__sidebar {
        width: 30%;
    }
    .bounty__sidebar{
        width: 30%;
    }
}

@media (max-width: 767px) {

    .post__sidebar {
        width: 100%;
    }
    .bounty__sidebar{
        width: 100%;
    }
}

/*Post list */

.post__content {
    width: 80%;
    float: left;
    padding-left: 25px;
}

.bounty__content {
    width: 80%;
    float: left;
    padding-left: 25px;
}

@media (max-width: 1720px) {
    .post__content {
        width: 80%;
    }
    .bounty__content {
        width: 80%;
    }
}

@media (max-width: 1520px) {
    .post__content {
        width: 80%;
    }
    .bounty__content {
        width: 75%;
    }
}

@media (max-width: 1320px) {
    .post__content {
        width: 70%;
    }
    .bounty__content {
        width: 70%;
    }
}

@media (max-width: 767px) {

    .post__content {
        width: 100%;
        margin-top: 30px;
        padding-left: 0;
    }
    .bounty__content {
        width: 100%;
        margin-top: 30px;
        padding-left: 0;
    }
    .post__sidebar {
        width: 100%;
    }

    .card__social {
        text-align: center;
    }

    .card__footer-left {
        text-align: center;
    }
}

/* Post details */

@media (max-width: 1320px) {
    .post_image {
        width: 100%;
        height: 100%;
    }
}

/* Bounty section */

@media (max-width: 1024px) {
    .second_stat_block {
        margin-top: 80px;
        margin-left: 0px;
    }
}