description = "Academy layout"
[session]
security = "all"
==
    function onStart()
    {
        header('x-frame-options:DENY');
        header('referrer-policy:same-origin');
    }
==
<!DOCTYPE html>
<html>
    
    {% partial 'academy/head' %}

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GNJ8BN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="page">

            <!-- Header -->
            {% partial 'academy/header' %}
    
            <!-- Content -->
            {% page %}
    
            <!-- Footer -->
            {% partial 'academy/footer' %}

            <!-- Scripts -->
            {% partial 'academy/scripts' %}

        </div>
    </body>
</html>