description = "Platform Layout"
[Notifications]
[session]
security = "all"
==

    function onStart()
    {
        header('x-frame-options:DENY');
        header('referrer-policy:same-origin');

        $user = Auth::getUser();

        if(!isset($user)) {
            return Redirect::to('/login');
        }

        if(!$user->is_activated) {
            return Redirect::to('/receive-activation');
        }
    }

==
<!DOCTYPE html>
<html>
    
    {% partial 'platform/head' %}
    
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GNJ8BN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="page">

            <!-- Header -->
            {% partial 'platform/header' %}
             
            <!-- Sidebar -->
            {% partial 'platform/sidebar' %}
    
            <!-- Content -->
            {% page %}

            <!-- Footer -->
            {% partial 'platform/footer' %}

            <!-- Scripts -->
            {% partial 'platform/scripts' %}

        </div>
    </body>
    
</html>