==
<!-- Header -->
<header class="header">
    <a class="header__logo" href="index.html">
        <img src="{{'assets/images/cryptopolice-logo.png'|theme}}" width="124" alt="CryptoPolice">
    </a>

    <div class="header__inner">

        <div class="header__nav" id="profile">
            <a class="header__ava" href="profile.html">
                <img src="http://placehold.it/23" width="23" height="23" alt="Avatar">
            </a>
            <a class="header__name" href="profile.html">CryptoMaster</a>

            <a class="header__nav-item" href="#">
                <img src="{{'assets/images/wallet-ico.png'|theme}}" width="20" height="19" alt="">
            </a>

            <a class="header__nav-item" href="#">
                <span class="header__mails-count">2</span>
                <img src="{{'assets/images/mail-ico.png'|theme}}" width="20" height="19" alt="">
            </a>

            <a class="header__nav-item" href="#">
                <img src="{{'assets/images/faq-ico.png'|theme}}" width="20" height="20" alt="">
            </a>

            <div class="dropdown-wrapper">
                <button class="btn  btn--dropdown  text-l" type="button" data-toggle="dropdown"><i class="fa  fa-angle-down"></i></button>
                <ul class="dropdown  dropdown--right" data-dropdown>
                    <li>
                        <a class="dropdown__link" href="#1"><i class="fa fa-save"></i> Save this file</a>
                    </li>
                    <li>
                        <a class="dropdown__link" href="#2"><i class="fa fa-trash"></i> Delete this file</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="header__mob">
            <a href="profile.html" id="profile_toggle">
                <img src="{{'assets/images/user.svg'|theme}}" width="23" alt="User Name">
            </a>
            <a href="#" id="search_toggle">
                <img src="{{'assets/images/search.svg'|theme}}" width="23" alt="Search">
            </a>
            <a href="#" id="sidebar_toggle">
                <img src="{{'assets/images/menu.svg'|theme}}" width="25" alt="Navigation">
            </a>
        </div>

        <form class="header__search" action="/" method="post" id="search">
            <input class="header__search-input" type="text" name="search" placeholder="Search">
        </form>

    </div>
</header>
