==
<!-- Sidebar -->
<aside class="sidebar">
    <nav class="nav">
        <a class="nav__item  active" href="#" title="Activity List">Activity List 
        <img src={{"assets/images/activity-ico.png"|theme}} alt=""></a>
       
        <a class="nav__item" href="#" title="Scams">Scams 
         <img src={{"assets/images/scams-ico.png"|theme}} alt="">
        </a>
        <a class="nav__item" href="#" title="Projects">Projects 

        <img src={{"assets/images/projects-ico.png"|theme}} alt="">
        </a>
        <a class="nav__item" href="#" title="Knowledge base">Knowledge base 
        <img src={{"assets/images/base-ico.png"|theme}} alt="">
        </a>
        <a class="nav__item" href="#" title="Escrow">Escrow 
        <img src={{"assets/images/escrow-ico.png"|theme}} alt="">
        </a>
        <a class="nav__item" href="#" title="WatchDog">WatchDog 
         <img src={{"assets/images/watchdog-ico.png"|theme}} alt="">
        </a>
    </nav>
</aside>