<div class="choose__item">
    <h3 class="choose__title">Login</h3>
    <form class="form" action="" method="post" data-request-flash data-request="onSignin" autocomplete="off">
        <div class="form__group">
            <input class="input  input--email" type="text" placeholder="Your email address" name="login"
                   id="userSigninLogin" autocomplete="off">
            <input class="input  input--pswd" type="password" placeholder="Password" name="password"
                   id="userSigninPassword" autocomplete="off">
            <a class="form__link" href="{{'forgot-password'|page}}">Forgot Your Password?</a>
        </div>
        <button class="btn  btn--full" type="submit">log in</button>
    </form>
</div>