==
<footer class="footer">
    <div class="footer__inner">
        <div class="footer__item  footer__item--nav">
            <div class="footer__nav">
                <a class="footer__nav-item" href="https://support.cryptopolice.com/" target="_blank">Support</a>
                <a class="footer__nav-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfk6oIQEAsrr1iX2m0p5BMcXv2dMUy9o0PxKsmDw9md7GA4dg/viewform" target="_blank">Become a partner</a>
            </div>
        </div>

        <div class="footer__item  footer__item--logo">
            <img src="{{'assets/images/cryptopolice-logo-footer.png'|theme}}" width="77" alt="CryptoPolice">
        </div>

        <div class="footer__item  footer__item--social">
            <div class="footer__social">
                <span>Follow us</span>
                <a href="https://www.facebook.com/CryptoPolicecom" target="_blank"><i class="fa fa-facebook-square"></i></a>
                <a href="https://twitter.com/CryptoPolicecom" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://t.me/cryptopolice" target="_blank"><i class="fa fa-telegram"></i></a>
                <a href="https://github.com/CryptoPolicePlatform" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://www.reddit.com/r/CryptoPolice" target="_blank"><i class="fa fa-reddit-alien"></i></a>
                <a href="https://bitcointalk.org/index.php?topic=3110731.0" target="_blank"><i class="fa fa-bitcoin"></i></a>
                <a href="https://steemit.com/@cryptopolice" target="_blank"><i class="fa fa-steemit"></i></a>
            </div>
        </div>
    </div>
</footer>