==
<head>
    <meta charset="utf-8">
    <title>{{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">

    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CryptoPolice is first community based cryptocurrency police on blockchain">
    <meta name="keywords" content="Crypto Police, CryptoPolice.io, blockchain, cryptocurrency, ico">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">


    <!-- Open graph -->
    {% if post %}
    <meta property="og:url" content="{{ url('/') }}"/>
    {% else %}
    <meta property="og:url" content="https://www.cryptopolice.com/platform"/>
    {% endif %}
    <meta property="og:type" content="website"/>
    {% if post.post_title %}
    <meta property="og:title" content="{{ post.post_title }}"/>
    {% else %}
    <meta property="og:title" content="CryptoPolice Platform"/>
    {% endif %}
    {% if post.post_description %}
    <meta property="og:description" content="{{ post.post_description }}"/>
    {% else %}
    <meta property="og:description" content="CryptoPolice is first community based cryptocurrency police on blockchain"/>
    {% endif %}
    {% if post.post_image.path %}
    <meta property="og:image" content="{{post.post_image.path}}"/>
    {% else %}
    <meta property="og:image" content="https://www.cryptopolice.com/assets/i/cryptopolice.jpg"/>
    {% endif %}

    <meta property="og:site_name" content="CryptoPolice Platform">
    <meta property="og:locale" content="en_us">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <link href="{{ ['assets/css/simplemde.min.css','assets/css/platform-style.css','assets/css/platform-custom.css']|theme }}" rel="stylesheet">

    {% styles %}

    <!-- Favicons for all devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/favicons/apple-touch-icon.png'|theme }}">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicons/favicon-32x32.png'|theme }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicons/favicon-16x16.png'|theme }}" sizes="16x16">
    <link rel="manifest" href="{{ 'assets/images/favicons/manifest.json'|theme }}">
    <link rel="mask-icon" href="{{ 'assets/images/favicons/safari-pinned-tab.svg'|theme }}" color="#5bbad5">

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5V6P9PR');</script>
    <!-- End Google Tag Manager -->

</head>
