==
<aside class="sidebar" id="sidebar">
   <nav class="nav">
      <a class="nav__item {% if this.page.id == 'dashboard' %} active {% endif %}" href="{{'dashboard'|page}}" title="Dashboard">Dashboard <img src="{{'assets/images/base-ico.png'|theme}}" alt="Dashboard"></a>
      <a class="nav__item {% if this.page.id == 'community' %} active {% endif %}" href="{{'community'|page}}" title="Token sale">Community <img src="{{'assets/images/activity-ico.png'|theme}}" alt="Community"></a>
      <a class="nav__item {% if this.page.id == 'bounty-campaign' %} active {% endif %}" href="{{'bounty-campaign'|page({slug : '', id : '' })}}" title="Bounty Campaign"> Bounty Campaign <img src="{{'assets/images/escrow-ico.png'|theme}}" alt="Bounty Campaign"></a>
      <a class="nav__item {% if this.page.id == 'academy' %} active {% endif %}" href="{{'academy'|page}}" title="Academy">Academy <img src="{{'assets/images/projects-ico.png'|theme}}" alt="Academy"></a>
      <a class="nav__item {% if this.page.id == 'scams' %} active {% endif %}" href="{{'scams'|page}}" title="Scam">Scam <img src="{{'assets/images/scams-ico.png'|theme}}" alt="Scam"></a>
   </nav>
</aside>