title = "Profile"
url = "/profile"
layout = "platform"
is_hidden = 0
==
<!-- Content -->
<main class="content">
    <div class="content__inner">

        <div class="content__left">
            <div class="breadcrumbs">
                <a class="breadcrumbs__item" href="#">Home</a>
                <span class="breadcrumbs__item  active">My profile</span>
            </div>

            <div class="profile">
                <div class="profile__sidebar">
                    {% if user.avatar.path %}
                        <img class="profile__ava" src="{{user.avatar.path}}" width="79" height="79" title="Avatar" alt="Avatar">
                    {% else %}
                        <img class="profile__ava" src="{{'assets/images/user.svg'|theme}}" width="79" height="79" title="Avatar" alt="Avatar">
                    {% endif %}
                    <div class="profile__name">{% if not user.name %}{{ user.email }}{% else %} {{ user.name }} {% endif %}</div>

                    <div class="profile__block">
                        <p>Role: <b>Officer</b></p>
                        <p>Balance: <b>3152 OFC</b></p>
                    </div>

                    <div class="profile__block">
                        <p>Statistics:</p>

                        <div class="profile__block-item">
                            <p>Total reviewed issues: <b>231</b></p>
                            <div class="profile__stat">
                                <div class="stat__pie  stat__pie--big" data-circle data-color="#8f78db" data-empty="#c6bbec" data-value="0.75" data-size="60" data-thickness="10"></div>

                                <ul class="profile__stat-list">
                                    <li class="purple">Approved: <b>117</b></li>
                                    <li class="light-purple">Declined: <b>5</b></li>
                                </ul>
                            </div>
                        </div>

                        <div class="profile__block-item">
                            <p>Total reviewed projects: <b>12</b></p>
                            <div class="profile__stat">
                                <div class="stat__pie  stat__pie--big" data-circle data-color="#48cdd0" data-empty="#a3e6e7" data-value="0.50" data-size="60" data-thickness="10"></div>

                                <ul class="profile__stat-list">
                                    <li class="teal">Approved: <b>8</b></li>
                                    <li class="light-teal">Declined: <b>8</b></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile__content">
                    <div class="content__block">
                        <h3 class="content__title">Waiting for verification</h3>


                        <div class="form__group">
                            <input class="input" type="text" name="name" placeholder="Name">
                        </div>
                        <div class="form__group">
                            <input class="input" type="text" name="surname" placeholder="Surname">
                        </div>
                        <div class="form__group">
                            <input class="input" type="text" name="country" placeholder="Country">
                        </div>
                        <div class="form__group">
                            <input class="input" type="email" name="email" placeholder="Email">
                        </div>
<div class="form__group">
                            <input class="input" type="email" name="email" placeholder="Ether">
                        </div>

                        <!--<div class="issues">-->
                            <!--<div class="issues__item">-->
                                <!--<div class="issues__type">Scam</div>-->
                                <!--<div class="issues__title">Phishing of site Exchange.com</div>-->
                                <!--<div class="issues__status">-->
                                    <!--<div class="issues__status-item  high">high</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="issues__item">-->
                                <!--<div class="issues__type">Project</div>-->
                                <!--<div class="issues__title">Phishing of site Exchange.com</div>-->
                                <!--<div class="issues__status">-->
                                    <!--<div class="issues__status-item  medium">med.</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="issues__item">-->
                                <!--<div class="issues__type">Scam</div>-->
                                <!--<div class="issues__title">Phishing of site Exchange.com</div>-->
                                <!--<div class="issues__status">-->
                                    <!--<div class="issues__status-item  low">low</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->


                    </div><!-- /.content__block -->

                    <!--<div class="content__block">-->
                        <!--<h3 class="content__title">Verification history</h3>-->

                        <!--<div class="issues">-->
                            <!--<div class="issues__item  issues__item&#45;&#45;history">-->
                                <!--<div class="issues__type">Scam</div>-->
                                <!--<div class="issues__title">Phishing of site Exchange.com</div>-->
                                <!--<div class="issues__view">-->
                                    <!--<a href="#">View status</a>-->
                                <!--</div>-->
                                <!--<div class="issues__amount">-->
                                    <!--<span class="text-green">+ 75 OFC</span>-->
                                <!--</div>-->
                                <!--<div class="issues__status  issues__status&#45;&#45;big  issues__status&#45;&#45;green">-->
                                    <!--<span>approved</span>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="issues__item  issues__item&#45;&#45;history">-->
                                <!--<div class="issues__type">Project</div>-->
                                <!--<div class="issues__title">Phishing of site Exchange.com</div>-->
                                <!--<div class="issues__view">-->
                                    <!--<a href="#">View status</a>-->
                                <!--</div>-->
                                <!--<div class="issues__amount">-->
                                    <!--<span class="text-orange">-</span>-->
                                <!--</div>-->
                                <!--<div class="issues__status  issues__status&#45;&#45;big  issues__status&#45;&#45;orange">-->
                                    <!--<span>pending</span>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="issues__item  issues__item&#45;&#45;history">-->
                                <!--<div class="issues__type">Scam</div>-->
                                <!--<div class="issues__title">Phishing of site Exchange.com</div>-->
                                <!--<div class="issues__view">-->
                                    <!--<a href="#">View status</a>-->
                                <!--</div>-->
                                <!--<div class="issues__amount">-->
                                    <!--<span class="text-gray">0 OFC</span>-->
                                <!--</div>-->
                                <!--<div class="issues__status  issues__status&#45;&#45;big  issues__status&#45;&#45;gray">-->
                                    <!--<span>disaproved</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div><!-- /.profile__content -->
            </div><!-- /.profile -->
        </div><!-- /.content__left -->
    </div>
</div>